In [ ]:
# 자원순환정보시스템 api=OIZF6LPJKYIUCWX2CEKO05O1RX1N46OX8VL95HHDO5ABE

# 자원순환정보시스템 open api 조회
# http://www.recycling-info.or.kr/sds/JsonApi.do?PID={API서식번호} &YEAR={조회년도}&USRID={아이디}&KEY={API인증키}


# 자원순환정보시스템 open api 설명
# https://www.recycling-info.or.kr/statDoc/%ED%8F%90%EA%B8%B0%EB%AC%BC%ED%86%B5%EA%B3%84_OpenAPI%ED%99%9C%EC%9A%A9%EA%B0%80%EC%9D%B4%EB%93%9C.pdf

In [1]:
import requests
import pandas as pd
import json



list_df=[]
year=['2014','2015','2016','2017','2018']
for y in year:
    url = "http://www.recycling-info.or.kr/sds/JsonApi.do?PID=NTN003&YEAR="+y+"&USRID=kriem546&KEY=OIZF6LPJKYIUCWX2CEKO05O1RX1N46OX8VL95HHDO5ABE"
    response = requests.get(url)
    result=json.loads(response.text)

    data=result['data']
    df=pd.DataFrame(data)
    df['처리년도']=y
    list_df.append(df)
    
df_total=pd.concat(list_df)

In [2]:
import requests
import pandas as pd
import json


url = "http://www.recycling-info.or.kr/sds/JsonApi.do?PID=NTN007&YEAR=2019&USRID=kriem546&KEY=OIZF6LPJKYIUCWX2CEKO05O1RX1N46OX8VL95HHDO5ABE"
response = requests.get(url)
result=json.loads(response.text)

data=result['data']
df=pd.DataFrame(data)
df['처리년도']='2019'

df.replace('\r','',inplace=True,regex=True)

In [3]:
import requests
import pandas as pd
import json


url = "http://www.recycling-info.or.kr/sds/JsonApi.do?PID=NTN007&YEAR=2020&USRID=kriem546&KEY=OIZF6LPJKYIUCWX2CEKO05O1RX1N46OX8VL95HHDO5ABE"
response = requests.get(url)
result=json.loads(response.text)

data=result['data']
df=pd.DataFrame(data)
df['처리년도']='2020'


df.replace('\r','',inplace=True,regex=True)

In [4]:
code=['W01', 'W02', 'W03', 'W04','W05','W06','W07','W08','W09','W0A','W0B','W0C','W0D','W0E','W0F','W0G','W0H','W0I','W0J','W0K','W0L','W0M',
      'W0N','W0P','W0Q','W0R','W0S','W0T','W0U','W0V','W0W','W0X','W0Y','W0Z','W10','W11','W12','W13','W14','W15','W16','W17','W18','W19',
      'W1A','W1B','W1C','W1D','W1E','W1F','W1G','W1H','W1I','W1J','W1K','W1L','W1M','W1O','W1P','W1Q','W1R','W1S','W1T','W1U','W1V','W1W',
      'W1X','W1Y','W1Z','W20','W21','W22','W23','W24','W25','W26','W27','W28','W29','W2A','W2B','W2D','W2G','W2H','W2I','W2L','W2P','W2Q',
      'W2R','W2S','W2T','W2U','W2V','W2W','W2Y','W30','W31','W32','W33','W34','W35','W36','W37','W38','W3C','W3D','W3E','W3F','W3G','W3H',
      'W3I','W3J','W3K','W3L','W3N','W3O','W3Q','W3S','W3U','W42','W44','W4C','W4H','W4N','W4O','W4Q','W4R','W4S','W4W','W4Z','W50','W51',
      'W52','W53','W54','W55','W56','W5D','W5I','W5J','W5K','W5M','W5P','W5S','W5T','W5U','W5V','W5W','W5X','W5Z','W61','W64','W67','W68',
      'W69','W6B','W6C','W6D','W6F','W6H','W6J','W6L','W6M','W6N','W6P','W6Q','W6S','W6V','W6W','W6X','W6Y','W6Z']

In [ ]:
import requests
import pandas as pd
import json
import time

# year=['2018','2019','2020','2021']
# month=['01','02','03','04','05','06','07','08','09','10','11','12']


# for y in year:
#     for m in month:
#         list_df=[]
#         for c in code:
#             try:
#                 url = 'http://apis.data.go.kr/B552584/RfidFoodWasteServiceNew/getCityDateList'
#                 param ={'serviceKey' : 'PnDDFfwlwy/ruQHr8wpEN6CJoMvzkuUqorpGhCcvA6a2yajRCSoET2yx4a77oMwDWZ4RtUi1dY55HmVMDle4ig==', 
#                         'type' : 'json', 'disYear' : y, 'disMonth' : m, 'cityCode' : c, 'page' : '1', 'rowNum' : '100000000000' }

#                 response = requests.get(url, params=param)
#                 result=json.loads(response.text)
#             except:
#                 time.sleep(2)
#                 response = requests.get(url, params=param)
#                 result=json.loads(response.text)

#             if result['data']['resultMsg']=='성공':
#                 data=result['data']
#                 df=pd.DataFrame(result['data']['list'])
                    
#                 list_df.append(df)
            
#         df_month=pd.concat(list_df)            
#         df_month.to_csv('Food_waste_'+y+'_'+m+'.csv',encoding='cp949')

In [5]:
import requests
import json

# 서울을 뺀 나머지 지역
url = "https://ecos.bok.or.kr/api/StatisticSearch/KIPUD3Q933N1288BVJZ8/json/kr/1/99999/511Y004/M/201501/202209/FMCA"
response = requests.get(url)
result=json.loads(response.text)

df=pd.DataFrame(result['StatisticSearch']['row'])
df.dropna(axis=1,inplace=True)
df['ID']=df['TIME']+df['ITEM_NAME2']

url = "https://ecos.bok.or.kr/api/StatisticSearch/KIPUD3Q933N1288BVJZ8/json/kr/1/99999/511Y004/M/201501/202209/FMCB"
response = requests.get(url)

result=json.loads(response.text)
df1=pd.DataFrame(result['StatisticSearch']['row'])

df1.dropna(axis=1,inplace=True)
df1['ID']=df1['TIME']+df1['ITEM_NAME2']
df1.drop(['STAT_CODE','STAT_NAME','ITEM_CODE2','ITEM_NAME2','TIME'],axis=1,inplace=True)
df1.columns=['ITEM_CODE3','ITEM_NAME3','DATA_VALUE2','ID']
df_csi=pd.merge(df,df1,how='left',on='ID')

# 지역 서울
url = "https://ecos.bok.or.kr/api/StatisticSearch/KIPUD3Q933N1288BVJZ8/json/kr/1/99999/511Y002/M/201501/202209/FMCA/F0001"
response = requests.get(url)
result=json.loads(response.text)

df=pd.DataFrame(result['StatisticSearch']['row'])
df.dropna(axis=1,inplace=True)
df['ID']=df['TIME']+df['ITEM_NAME2']

url = "https://ecos.bok.or.kr/api/StatisticSearch/KIPUD3Q933N1288BVJZ8/json/kr/1/99999/511Y002/M/201501/202209/FMCB/F0001"
response = requests.get(url)
response = requests.get(url)

result=json.loads(response.text)
df1=pd.DataFrame(result['StatisticSearch']['row'])

df1.dropna(axis=1,inplace=True)
df1['ID']=df1['TIME']+df1['ITEM_NAME2']
df1.drop(['STAT_CODE','STAT_NAME','ITEM_CODE2','ITEM_NAME2','TIME'],axis=1,inplace=True)
df1.columns=['ITEM_CODE3','ITEM_NAME3','DATA_VALUE2','ID']

df_csi_seoul=pd.merge(df,df1,how='left',on='ID')
df_csi_total=pd.concat([df_csi, df_csi_seoul])

df_csi_total.drop(['STAT_CODE','STAT_NAME','ITEM_NAME1','ITEM_CODE1','ITEM_CODE2','ITEM_NAME3','ITEM_CODE3','ID'],axis=1,inplace=True)

df_csi_total=df_csi_total[['TIME','ITEM_NAME2','DATA_VALUE','DATA_VALUE2']]
df_csi_total.columns=['TIME','AREA','가계수입전망CSI','소비지출전망CSI']

df1=df_csi_total[df_csi_total['AREA']=='대구경북']
df2=df_csi_total[df_csi_total['AREA']=='광주전남']
df3=df_csi_total[df_csi_total['AREA']=='대전충남']

area={'AREA':{'부산':'부산광역시','대구경북':'경상북도','인천':'인천광역시','광주전남':'전라남도','대전충남':'충청남도',
              '울산':'울산광역시','경기':'경기도','강원':'강원도','충북':'충청북도','전북':'전라북도','경남':'경상남도',
              '제주':'제주특별자치도','서울':'서울특별시'}}

df_csi_total.replace(area,inplace=True)
df1.replace({'대구경북':'대구광역시'},inplace=True)
df2.replace({'광주전남':'광주광역시'},inplace=True)
df3.replace({'대전충남':'대전광역시'},inplace=True)
df_csi_total=pd.concat([df_csi_total,df1,df2,df3])

df_csi_total.reset_index(inplace=True)
df_csi_total.drop('index',axis=1,inplace=True)
df_csi_total['ID']=df_csi_total['TIME']+df_csi_total['AREA']

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\249230173.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace({'대구경북':'대구광역시'},inplace=True)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\249230173.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.replace({'광주전남':'광주광역시'},inplace=True)

In [6]:
import os
import pandas as pd

In [7]:
path='./Food_waste'

In [8]:
file_list=os.listdir(path)

In [9]:
list_df=[]
for f in file_list:
    df=pd.read_csv('./Food_waste/'+f,encoding='cp949')
    list_df.append(df)
    
df_total=pd.concat(list_df)
df_total=df_total.astype(str)

In [12]:
df_total['disMonth']=df_total['disMonth'].str.zfill(2)

In [13]:
df_total.drop('Unnamed: 0',axis=1,inplace=True)
df_total['ID']=df_total['disYear']+df_total['disMonth']+df_total['citySidoName']

In [14]:
df_m=pd.merge(df_total,df_csi_total,how='left',on='ID')

In [15]:
df_m.drop(['TIME','AREA','ID'],axis=1,inplace=True)

In [16]:
def Base36(code):
    
    Base36_code='0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    
    length=len(code)
    
    Base10=0
    
    for i in range(length): 
        num = 0
        for b in Base36_code:
            if b==code[i].upper():
                Base10 += (num*(36**(length-i-1)))
            num +=1
    return Base10

In [17]:
list_cityCode=[]
for i in df_m['cityCode']:
    list_cityCode.append(Base36(i)-41472)

In [18]:
df_m['cityCode']=list_cityCode

In [61]:
df_seoul=df_m[df_m['citySidoName']=='서울특별시']
df_gyeonggi_incheon=df_m[(df_m['citySidoName']=='경기도') | (df_m['citySidoName']=='인천광역시')]
df_gyeongsangnamdo_busan_ulsan=df_m[(df_m['citySidoName']=='경상남도') | (df_m['citySidoName']=='부산광역시') | (df_m['citySidoName']=='울산광역시')]
df_gyeongsangbukdo_daegu=df_m[(df_m['citySidoName']=='경상북도') | (df_m['citySidoName']=='대구광역시')]
df_gangwondo=df_m[df_m['citySidoName']=='강원도']
df_chungcheongdo_daejeon=df_m[(df_m['citySidoName']=='충청북도') | (df_m['citySidoName']=='충청남도') | (df_m['citySidoName']=='대전광역시')]
df_jeollado_gwangju=df_m[(df_m['citySidoName']=='전라북도') | (df_m['citySidoName']=='전라남도') | (df_m['citySidoName']=='광주광역시')]
df_jeju=df_m[df_m['citySidoName']=='제주특별자치도']

In [71]:
df_seoul['disQuantity']=df_seoul['disQuantity'].astype(int)
df_gyeonggi_incheon['disQuantity']=df_gyeonggi_incheon['disQuantity'].astype(int)
df_gyeongsangnamdo_busan_ulsan['disQuantity']=df_gyeongsangnamdo_busan_ulsan['disQuantity'].astype(int)
df_gyeongsangbukdo_daegu['disQuantity']=df_gyeongsangbukdo_daegu['disQuantity'].astype(int)
df_gangwondo['disQuantity']=df_gangwondo['disQuantity'].astype(int)
df_chungcheongdo_daejeon['disQuantity']=df_chungcheongdo_daejeon['disQuantity'].astype(int)
df_jeollado_gwangju['disQuantity']=df_jeollado_gwangju['disQuantity'].astype(int)
df_jeju['disQuantity']=df_jeju['disQuantity'].astype(int)

C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_seoul['disQuantity']=df_seoul['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gyeonggi_incheon['disQuantity']=df_gyeonggi_incheon['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gyeongsangnamdo_busan_ulsan['disQuantity']=df_gyeongsangnamdo_busan_ulsan['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gyeongsangbukdo_daegu['disQuantity']=df_gyeongsangbukdo_daegu['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gangwondo['disQuantity']=df_gangwondo['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chungcheongdo_daejeon['disQuantity']=df_chungcheongdo_daejeon['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jeollado_gwangju['disQuantity']=df_jeollado_gwangju['disQuantity'].astype(int)
C:\Users\YONSAI\AppData\Local\Temp\ipykernel_1956\1960512720.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_jeju['disQuantity']=df_jeju['disQuantity'].astype(int)

In [89]:
df_seoul[df_seoul['disQuantity']==400]

,disYear,disMonth,disDate,disDay,cityCode,citySidoName,citySggName,disQuantity,disQuantityRate,disCount,disCountRate,가계수입전망CSI,소비지출전망CSI
9755,2018,08,29,4,23,서울특별시,강남구,400,25.0,1,25.0,98,104

In [87]:
df_seoul[df_seoul['cityCode']==23].describe()

       cityCode   disQuantity
count     493.0  4.930000e+02
mean       23.0  9.219201e+06
std         0.0  7.872304e+06
min        23.0  4.000000e+02
25%        23.0  1.301450e+06
50%        23.0  8.370460e+06
75%        23.0  1.697815e+07
max        23.0  2.593670e+07

In [78]:
df_seoul['cityCode'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,  10,  11,  12,  13,  14,
        15,  16,  17,  18,  19,  20,  22,  25, 251,  21,   9,  23],
      dtype=int64)